.contato{
    margin: 0 10%;
}

.contato form {
    padding: 30px 40px 20px 50px;
    box-sizing: border-box;
}

.contato form h1{
    font-family: var(--font-laura);
    text-align: center;
    margin-bottom: 20px;
}

.contato form label {
    font-size: 18px;
    padding-right: 20px;
    width: 70px;
}

.contato fieldset {
    margin-top: 10px;
    border: 0;
    padding: 0 10% 0;
}

.contato .field, .field-text{
    margin-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
}
.contato textarea{
    height: 100px;
    text-align: start;
    padding-top: 10px;
}

.contato input, textarea {
    background-color: var(--color-rosa);
    opacity: 50%;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    height: 25px;
    display: block;
    outline-color: var(--color-vinho);
    width: 100%;
    padding-left: 10px;
}

.contato form number {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.contato form button{
    background-color: var(--color-vinho);
    display: flex;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-rosa);
    padding: 10px 0 10px 22px;
    margin: 0 auto;
}

