#header-home {
    background-color: var(--color-rosa);
    margin: 0 0;
    height: 100vh;
    
}

#header-home .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 30px 40%;
    font-size: 22px;
    font-weight: lighter;
}

#header-home .logo{
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 5% 10% auto;

}

#header-home .menu a {
    color: var(--color-texto);
    transition-duration: 0.4s;
}

#header-home .menu a img {
    max-width: 25px;
    vertical-align: middle;
}

#header-home .menu a:hover {
    font-weight: bold;
}
