#loja main {
    margin-top: 48px;
    color: var(--color-texto);
    margin-bottom: 48px;
    
}

#loja main img {
    width: 100%;
    height: 150px;
}

#loja main .categorias {
    height: 50px;
    display: flex;
    flex: 1;
    
}
#loja main .categorias a {
    background-color: var(--color-rosa);
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--color-vinho);
    padding: 4px 0 10px 22px;
    margin: 0 auto;

}

#loja main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#loja main .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--color-cinza);
    border-radius: 10px;
    width: 60%;
    padding: 30px;
    margin: 25px auto;
    display: flex;
    font-size: 20px;
}


#loja main .card img {
    width: auto;
    padding-right: 20px;
}

#loja .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#loja main .carrinho , .coracao {
    max-width: 50px;
    max-height: 50px;
}
#loja main .coracao {
    padding: 10px 0;
}