/* ----------------------- GERAIS ----------------------- */
:root{
    --color-rosa: #FAC5BE; 
    --color-vinho: #482926;
    --color-texto: #212529;
    --color-cinza: #E9ECEF;
    --font-laura: 'Special Elite', cursive;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialised;
}

/* ----------------------- FALSO HEADER ----------------------- */

.falsoheader {
    background-color: var(--color-rosa);
    padding: 5px;
}

/* ----------------------- HEADER ----------------------- */
.header {
    background-color: var(--color-rosa);
    margin: 0 0;
    display: flex;
    height: 100px;
    /*justify-content: space-between;*/
    
}

.header .menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    padding: 30px 0px 30px 0;
    /*font-size: 22px;*/
    font-size: 2rem;
    font-weight: lighter;
}

.header .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.header .logo img {
    height: 80px;
}

.header .menu a {
    color: var(--color-texto);
    transition-duration: 0.4s;
}

.header .menu a img {
    max-width: 25px;
    vertical-align: middle;
}

.header .menu a:hover {
    font-weight: bold;
}

/* ----------------------- RODAPÉ ----------------------- */
.rodape{
    background-color: var(--color-vinho);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.6rem;
    margin: 0;
}

.rodape a{
    color: white;
    
}

.rodape .mapa-do-site {
    /* background-color: red; */
    max-width: 50%;
    height: 250px;
    padding-top: 3rem;
    
}

.rodape .mapa-do-site header {
    /* background-color: yellow; */
    padding-bottom: 10px;
    color: var(--color-rosa);
    font-weight: bold;
}

.rodape nav {
    /* background-color: #FAC5BE; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px; 
    column-gap: 20px;
    line-height: 2;
}

.rodape .contato {
    /* background-color: violet; */
    max-width: 50%;
    padding-top: 3rem;
}

.rodape .contato header {
    /* background-color: aqua; */
    padding-bottom: 10px;
    color: var(--color-rosa);
    font-weight: bold;
}

.rodape .contato div {
    display: flex;
    flex-direction: column;
    line-height: 3;
}

.rodape .contato img {
    padding-right: 5px;
    max-width: 25px;
}