.rodape{
    background-color: var(--color-vinho);
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
}

.rodape a {
    color: white;
    display: flex;
    flex-direction: column;    
}

.rodape .mapa-do-site{
    display: flex;
    flex-direction: column;
    /* width: 66%; */
    padding-left: 25px;
    padding-right: 25px;
    width: 60%;
}

.rodape .mapa-do-site header {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rosa);
}

.rodape .mapa-do-site div {
    display: flex;
    line-height: 30px;
    margin: 0 10px 0;
    justify-content: space-between;  
    width: 50%;
}

.rodape .mapa-do-site div div {
    display: flex;
    flex-direction: column;

}

.rodape .contato {
    /* padding-left: 25px;
    padding-right: 25px; */
    width: 20%;
}

.rodape .contato header{
    width: 80%;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rosa);
}


/* .rodape .contato div{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 40px;
    margin-left: 20px;
} */

.rodape .contato div{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    line-height: 40px;
}


.rodape .contato a{
    /* width: 100%; */
    max-width: 300px;
    /* height: 72px; */
    display: inline;
    
}
.rodape .contato img {
    width: 20px;
    height: 20px;
}