<div class="home">
    <div class="quem-somos">
        <img src="assets/quadrado-vazio.svg" alt="Foto Quem Somos">
        <div>
            <p> 
                Somos uma loja de laços personalizados.
            </p>

        </div>
         
        <a href="#">
            <img src="assets/botao.svg" alt="Ir para QUEM SOMOS">
        </a>   
    </div>
    <div class="loja">
        <h1>Mais vendidos</h1>
        <div class="home-cards-loja">
            <img src="assets/quadrado-vazio.svg" alt="laço1">
            <img src="assets/quadrado-vazio.svg" alt="laço2">
            <img src="assets/quadrado-vazio.svg" alt="laço3">
        </div> 
        <a href="loja.html"><span></span>IR PARA LOJA</a>
    </div>
</div>