<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Laços - Loja</title>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Fonte 'LAÇOS' errada, trocar futuramente -->
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/falsoheader.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/loja.css">
    <link rel="stylesheet" href="styles/rodape.css">

    <link rel="stylesheet" href="styles/responsive.css">

</head>
<body>
    <div class="falsoheader">
        
    </div>
    <div id="header">
        <div class="logo">
            <img src="assets/logo-branco.png" alt="Logo Laura laços">
        </div>
        <nav class="menu">
            <a href="index.html">HOME</a>
            <a href="sobre.html">QUEM SOMOS</a>
            <a href="loja">LOJA</a>
            <a href="contato.html">CONTATO</a>
            <a href="#">
                <img src="assets/carrinho.svg" alt="Carrinho">
            </a>
        </nav>
    </div>

    <div id="loja"> <!-- Vai virar o breadcrumb -->
        <main>
            <div class="categorias">
                <a href="#">PRONTA ENTREGA</a>
                <a href="#">SOB ENCOMENDA</a>
            </div>
            

            <div class="cards">
                <div class="card">
                    <img src="assets/quadrado-vazio.svg" alt="LAÇO 001">

                    <div class="conteudo">
                        <h2>LAÇO 001</h2>
                        Sob encomenda
                        <h3>R$ 10,00</h3>
        
                        <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                        <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">
                    </div>
                </div>
                <div class="card">
                    <img src="assets/quadrado-vazio.svg" alt="LAÇO 002">
    
                    <div class="conteudo">
                        <h2>LAÇO 002</h2>
                        Pronta Entrega
                        <h3>R$ 15,00</h3>
        
                        <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                        <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">
    
                    </div>
    
                </div>
                <div class="card">
                    <img src="assets/quadrado-vazio.svg" alt="LAÇO 001">

                    <div class="conteudo">
                        <h2>LAÇO 001</h2>
                        Sob encomenda
                        <h3>R$ 10,00</h3>
        
                        <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                        <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">
                    </div>
                </div>
                <div class="card">
                    <img src="assets/quadrado-vazio.svg" alt="LAÇO 002">
    
                    <div class="conteudo">
                        <h2>LAÇO 002</h2>
                        Pronta Entrega
                        <h3>R$ 15,00</h3>
        
                        <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                        <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">
    
                    </div>
    
                </div>
                
                
            </div>

            
        </main>

    </div>

    

    <div class="rodape">
        <div class="mapa-do-site">
            <header>MAPA DO SITE</header>
            <div>
                <nav>
                    <a href="#">QUEM SOMOS</a>
                    <a href="#">LOJA</a>
                    <a class="ladinho" href="#"><span></span>PRONTA ENTREGA</a>
                    <a class="ladinho" href="#"><span></span>SOB ENCOMENDA</a>
                </nav>
                    
                <nav>
                    <a href="#">CONTATO</a>
                    <a href="#">CARRINHO</a>
                    <a href="#">PERGUNTAS FREQUENTES</a>
                    <a href="#">MÉTODOS DE PAGAMENTO</a>
                </nav>

            </div>  
        </div>

        <div class="contato">
            <header>
                CONTATO
            </header>
            
            <div>
                <a href="#"><span></span> FACEBOOK</a>
                <a href="#"><span></span> INSTAGRAM</a>
                <a href="#"><span></span> WHATSAPP</a>
                
            </div>
            
        </div>
    
    </div>
    
</body>
</html>


        

            
