<div id="loja"> 
    <main>
        <div class="categorias">
            <a href="#">PRONTA ENTREGA</a>
            <a href="#">SOB ENCOMENDA</a>
        </div>
        

        <div class="cards">
            <div class="card">
                <img src="assets/quadrado-vazio.svg" alt="LAÇO 001">

                <div class="conteudo">
                    <h2>LAÇO 001</h2>
                    Sob encomenda
                    <h3>R$ 10,00</h3>
    
                    <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                    <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">
                </div>
            </div>
            <div class="card">
                <img src="assets/quadrado-vazio.svg" alt="LAÇO 002">

                <div class="conteudo">
                    <h2>LAÇO 002</h2>
                    Pronta Entrega
                    <h3>R$ 15,00</h3>
    
                    <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                    <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">

                </div>

            </div>
            <div class="card">
                <img src="assets/quadrado-vazio.svg" alt="LAÇO 001">

                <div class="conteudo">
                    <h2>LAÇO 001</h2>
                    Sob encomenda
                    <h3>R$ 10,00</h3>
    
                    <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                    <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">
                </div>
            </div>
            <div class="card">
                <img src="assets/quadrado-vazio.svg" alt="LAÇO 002">

                <div class="conteudo">
                    <h2>LAÇO 002</h2>
                    Pronta Entrega
                    <h3>R$ 15,00</h3>
    
                    <img class="carrinho" src="assets/carrinho.svg" alt="Adicionar ao carrinho">
                    <img class="coracao" src="assets/coracao.png" alt="Adicionar aos favoritos">

                </div>

            </div>
            
            
        </div>

        
    </main>

</div>

    
